# ===== Sistema Operativo =====
# Windows
.exe
.dll
.com
.bat
.pdb
.cache
.ilk
.log
[Dd]ebug
[Rr]elease
x64
x86
[Aa]rm
[Aa]rm64
bld
[Bb]in
[Oo]bj
[Ll]og
[Ll]ogs
.user
.aps
.pch
.vspscc
_i.c
_p.c
_h.h
.ncb
.suo
.tlb
.tlh
.bak
.cache
.ilk
.log
.lib
.sbr
.sdf
.pyc
.pyo
.$py.class
.snk
.plg
.tmp
.temp
.tlog
.vsmdi
.psess
.vsp
.vspx
.sap

# macOS
.DS
